@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'); 
  }

:root{
--color-primary-dark:#31261a;
--color-primary-light:#faf4ea;
--color-brand-light:#819857;
--color-brand-dark: #465929;
--color-secondary-dark: #A28268;
}
/* Base */
*, 
*::after,
*::before{
    box-sizing: border-box;
}
body{
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}
a{
    display: inline-block;
}
address{
    font-style: normal;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.visually-hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section{
    padding: 48px 0;
}
.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
/* Button */
.button{
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;

}
.button:hover{
    color: var(--color-brand-dark);
    background-color: transparent;
    
}
/* Link */
.link{
    color: #ffff;
    /* color: var(--color-primary-light); */
    text-decoration: none;

}
.link:hover{
    color: var(--color-brand-light);
}
/* Header sections */
.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;

}
.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
/* Hero section */
.hero-section{
    background-image: url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 272px 0;
}
.hero-title{
    margin-bottom: 0;
    color:var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}
.hero-title .accent{
    color:var(--color-brand-light);
}
/* Advantages section */
.advantages-section{
    padding: 16px 0;
    background-color: var(--color-brand-light);
}
.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-item{
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}
.section-title{
    font-size: 50px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title.centered{
    text-align: center;
}

.section-title .accent{
    color: var(--color-brand-dark);
}
/* Traditions sections */
.traditions-section{
    padding-top: 96px;
}
.traditions-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.traditions-content{
    max-width: 710px;
}
.traditions-title {
    margin-bottom: 42px;
}
.traditions-text.limited{
    max-width: 330px;
}
.traditions-text .brand{
    color: var(--color-brand-light);
    font-weight: 600;
}
.traditions-text .uppercase{
    text-transform: uppercase;
}

/* Chefs section */
.chefs-title{
    position: relative;
    margin: 0 auto 80px;
}
.chef-card{
    display: flex;
    gap: 30px;
}
.chef-photo{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600; 
}
.chefs-title::after,
.chefs-title::before{
    display: block;
    position: absolute;
    bottom: 24px;
    width: 352px;
    border: 2px solid #cfcfbc;
    content: '';
}
.chefs-title::before{
    left: 0;
}

.chefs-title::after{
    right: 0;
}

.chef-text p{
    margin-bottom: 24px;
}

.chef-text p:last-child{
    margin-bottom: 0;
}
.chefs-list{
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
}
.chefs-item{
    display: flex;
    flex-basis: 40%;
    gap: 20px;
    /* flex-basis: calc((100%-30px)/2); */
    flex-grow: 1;

}
.chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */
.formats-list{
    padding: 24px;
    display: flex;
    gap: 20px;
}
.formats-item{
    flex-basis: calc((100%-40px)/3);
}
.formats-title{
    font-size: 24px;
    font-weight: 600;
}
.formats-title {
    margin-bottom: 80px;
}
.formats-container{
    display: flex;
    gap: 32px;
    align-items: center;
}
.format-card{
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%);
    border: 1px solid lightgray;
    border-radius: 16px;
}
.format-text{
    font-size: 14px;
    font-weight: 300;
}
/* Carousel section */
.carousel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    flex-shrink: 0;
    padding: 0;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    fill: var(--color-primary-dark);
}
.carousel-button:hover{
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

/* Contacts section */
.contacts-section{
    padding-bottom: 96px;
}
.contact-container{
    display: flex;
    gap: 32px;
}
.contact-map{
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}
.contact-title {
    margin-bottom: 16px;
}
/* Footer */
.footer{
    padding: 32px 0;
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer::after,
.footer::before{
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: " ";
}
.footer::after{
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/big-bread.png);
}

.footer::before{
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/bread.png);
}
.footer-container{
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer-logo,
.footer-menu{
    flex-grow: 1;
}

.address-list,
.address-info{
    flex-grow: 1;
}
.adress-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.adress-link:hover{
    color: var(--color-brand-light);
}
.adress-icon{
    fill: var(--color-primary-light);
}
.adress-icon:hover{
    fill: var(--color-brand-light);
}
.address-info{
    
}
.address-copyright{
    font-size: 14px;
}
/* Modal */
.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal{
    position: relative;
    width: 880px;
    height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-btn-close{
    position: absolute;
    top: 40px;
    right: 40px;
}
