@import './utils/fonts';
@import './utils/text';
@import './utils/utils';
@import './utils/variables';
@import './base';

@import './components/buttons';
@import './components/carousel-section';
@import './components/chef-cards';
@import './components/form_terms';
@import './components/format-card';
@import './components/input';
@import './components/links';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contacts-section';
@import './layouts/footer';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-sections';


.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}



