:root{
    --color-primary-dark:#31261a;
    --color-primary-light:#faf4ea;
    --color-brand-light:#819857;
    --color-brand-dark: #465929;
    --color-secondary-dark: #A28268;
    --color-brand-normal:#cfcfbc;

}

$br-mobile: 480px;
$br-tablet: 768px;
$br-desktop: 1280px;