.advantages-section{
    padding: 16px 0;

    @media screen and (min-width:$br-tablet){
        background-color: var(--color-brand-light);
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 40px;
        background-color: var(--color-brand-normal);
        border-radius: 24px;

        @media screen and (min-width:$br-tablet){
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
            background-color: transparent;
            padding: 0;
        }
    }

    &__item{
        font-size: 14px;
        font-weight: 300;

        @media screen and (min-width:$br-desktop){
            color: var(--color-primary-light);
            font-size: 20px;
        }
    }
}

