.footer{
    padding: 32px 0;
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer::after,
.footer::before{
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: " ";
}
.footer::after{
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/big-bread.png);
}

.footer::before{
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/bread.png);
}
.footer-container{
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer-logo,
.footer-menu{
    flex-grow: 1;
}

.address-list,
.address-info{
    flex-grow: 1;
}
.adress-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.adress-link:hover{
    color: var(--color-brand-light);
}
.adress-icon{
    fill: var(--color-primary-light);
}
.adress-icon:hover{
    fill: var(--color-brand-light);
}

.address-copyright{
    font-size: 14px;
}