.traditions-section{
    padding-top: 40px;

    @media screen and (min-width: $br-tablet){
        padding-top: 96px;
    }

    &__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
    }

    &__content{
        max-width: 710px;
    }

    &__title {
        margin-bottom: 42px;
    }
    
    &__text{
        &--limited{
            max-width: 330px;
        }
    }

    &__image{
        display: none;
        border-radius: 400px 400px 0 0;

        @media screen and (min-width: $br-tablet){
            display: block;
        }
    }
}




